name: Daily Slack Reminder

on:
  schedule:
    - cron: '30 6 * 3-10 *'
    - cron: '30 7 * 11,12,1,2 *'
  workflow_dispatch:

jobs:
  slack-message:
    runs-on: ubuntu-latest
    env:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
      MODE: reminder

    steps:
      - name: Code ophalen
        uses: actions/checkout@v3

      - name: Python installeren
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Dependencies installeren
        run: pip install requests

      - name: Slackbericht versturen
        run: python send_slack_message.py
